.user-profile {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 3rem;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
